*.class
/*.pdf
/bin
/build/bundle.js
/node_modules
/package-lock.json
/pigeonhole
/pigeonhole-reports/*.tex
/pigeonhole-reports/*.gz
/pigeonhole-reports/*.log
/pigeonhole-reports/.*
/pigeonhole-reports/figure/
/target

